/* B A C K G R O U N D */
body::before {
    content: "";
    background-image: url('./../images/background2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.4);
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}



/* C O N T E N T */
.content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta {
    text-align: center;
}

.cta-button {
    margin: 5px 10px 150px 0;
    display: inline-flex;
    flex-wrap: nowrap;
}

h2 {
    font-size: 2rem;
}

#main-body {
    background-color: #f4f4f4;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 150px;
}

.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.65rem;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Section 1 */
.cover {
    width: 100%;
    height: 100vh;
}

#Section1 .hero-header {
    font-size: 3rem;
    margin-top: 25vh;
}

#Section1 .lead {
    font-size: 1.2rem;
}

#Section1 .cta {
    text-align: left;
}

#Section1 {
    align-content: center;
    display: flex;
    flex-direction: column;
}

#Section1 {
    margin-left: 50px;
}

/* Section 2 */
#Section2 {
    width: 75%;
    margin-top: 2rem;
    scroll-margin: 130px;
}

#Section2 ul {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

#Section2 li::marker {
    content: "✓ ";
    color: var(--primary-color);
    size: 1.2rem;
}

#Section2 .card {
    margin-inline: auto;
}

/* Section 3 */
#Section3 {
    width: 90%;
    margin-inline: auto;
}

#Section3 li::marker {
    color: var(--primary-color);
}

/* Section 4 */
#Section4 .stats {
    list-style: none;
    align-items: center;
}

#Section4 .counter-unit {
    margin: 15px auto;
    font-size: 5rem;
    padding: 10px;
    color: var(--primary-color);
    text-wrap: nowrap;
}


#Section4 .card {
    margin-inline: 20px;
    align-content: center;
    height: 17rem;
    max-width: 500px;
}

#Section4 h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: normal;
}

#Section4 p, #Section4 h3 {
    font-size: 1.5rem;
}

/* Section 5 */
#Section5 {
    width: 100%;
    padding-bottom: 200px;
}

#Section5 .image {
    width: 100%;
    text-align: center;
}

#Section5 img {
    width: 90%;
    height: auto;
    margin-inline: auto;
}

#Section5 .portrait-only img {
    width: 60%;
    height: auto;
    margin-inline: auto;
}

/* R E S P O N S I V E   D E S I G N */
/* Section 1 */
@media (min-width: 1000px) {
    .lead {
        width: 900px;
    }
}

@media (max-width: 999px) {
    .lead {
        margin-right: 50px;
        width: auto;
    }
}
/* Section 4 */
@media (max-width: 1200px) {
    #Section4 .card {
        min-width: 300px;
    }
}

@media (min-width: 1051px) {
    #Section4 .stats {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 1050px) {
    #Section4 .stats {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 700px;
        margin-inline: auto;
    }
}

@media (max-width: 800px) {
    #Section4 .stats {
        width: 90%;
    }
}

@media (max-width: 550px) {
    #Section4 .counter-unit {
        font-size: 10vw;
    }

    #Section4 h3, #Section4 p {
        font-size: 1rem;
    }
}

/* Section 5 */
@media (min-width: 1052px) {
    #Section5 :nth-child(1 of .card) {
        animation-range: cover -10% cover 20%;
    }

    #Section5 :nth-child(2 of .card) {
        animation-range: cover -10% cover 40%;
    }
}

/* G E N E R A L   M E D I A   Q U E R I E S */
@media (max-width: 1000px) {
    .portrait-only {
        display: flex;
        flex-direction: column;
        gap: 75px;
    }

    .landscape-only {
        display: none;
    }
}

@media (min-width: 1001px) {
    .portrait-only {
        display: none;
    }
}   
