* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(4, 175, 95);
    --secondary-color: rgb(255, 204, 0);
}

html {
    scroll-behavior: smooth;    
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    font-family: "DM Sans", "Roboto", sans-serif;
}

/* B A C K G R O U N D */
body::before {
    content: '';
    background-image: url('./../images/background1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.3);
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/* C O N T E N T */
.content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    margin: 30px auto 0 auto;
}

.cta-button {   
    margin: auto;
}

.main-body {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.card p {
    text-align: justify;
}

.cta {
    text-align: center;
    margin-top: 30px;
}

.inactive-link {
    opacity: 0.2;
    cursor: not-allowed;
}

h2 {
    font-size: 2rem;
}

/* Section 1 */ 
#Section1 {
    height: 100vh;
}

#Section1 .lead {
    font-size: 1.3rem;
}

@media (min-width: 769px) {
    #Section1 {
        width: 75%;
        margin: 20vh 50px 0 50px;
    }
}

@media (max-width: 768px) {
    #Section1 {
        text-align: justify;
        margin: 100px 30px;
    }
}

.hero-header {
    font-size: 4rem;
    margin-bottom: 20px;
}

.lead {
    margin-bottom: 40px;
    font-size: 1.2rem;
}

/* Section 2 */
#Section2 {
    width: 85%;
    text-align: left;
    margin: 50px auto 100px auto;
    color: black;
    display: flex;
    flex-wrap: wrap;    
}

#Section2 p {
    text-align: left;
}

#Section2 .card {
    display: flex;
    align-items: center;
}

@media (min-width: 769px) {
    #Section2 .card {
        width: 40%;
        margin: 20px auto;
    }
}

@media (max-width: 768px) {
    #Section2 .card {
        width: 80%;
        margin: 20px auto;
    }
}

#Section2 h2 {
    text-align: center;
    width: 100%;
}

#Section2 img {
    height: 4rem;
    width: auto;
    margin-right: 30px;
}

@media (min-width: 700px) {
    #Section2 :nth-child(1 of .card) {
        animation-range: cover -10% cover 20%;
    }

    #Section2 :nth-child(2 of .card) {
        animation-range: cover -10% cover 50%;
    }
}

/* Section 3 */
#Section3 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: space-around;
    margin-bottom: 70px;
}

#Section3 p {
    text-align: center;
}

#Section3 h2 {
    width: 100%;
    text-align: center;
}

#Section3 img {
    height: 4rem;
    width: auto;
    margin-bottom: 10px;
}

#Section3 .card {
    margin: 20px auto;
}

@media (min-width: 769px) {
    #Section3 .card {
        width: 25%;
    }
}

@media (max-width: 768px) {
    #Section3 .card {
        width: 70%;
    }

    #Section3 {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    #Section3 .card,
    #Section3 .cta, 
    #Section3 .cta-button,
    #Section3 h2 {
        margin: auto;
    }
}

@media (min-width: 770px) {
    #Section3 :nth-child(1 of .card) {
        animation-range: cover -10% cover 20%;
    }

    #Section3 :nth-child(2 of .card) {
        animation-range: cover -10% cover 30%;
    }

    #Section3 :nth-child(3 of .card) {
        animation-range: cover -10% cover 40%;
    }
}


/* Section 4 */
#Section4 {
    color: black;
    margin: 0 auto 70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#Section4 h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#Section4 p {
    text-align: left;
}

@media (min-width: 769px) {
    #Section4 .card {
        width: 40%;
    }
}

@media (max-width: 768px) {
    #Section4 .card {
        width: 70%; 
    }

    #Section4 {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    #Section3 .card,
    #Section3 .cta, 
    #Section3 .cta-button,
    #Section3 h2 {
        margin: auto;
    }
}

#Section4 .card {
    display: flex;
    align-content: center;
}

#Section4 img {
    height: 3rem;
    width: auto;
    margin: auto 20px auto 0;
}

#Section4 #graduate-hat-icon {
    height: 4.5rem;
    width: auto;
}

@media (min-width: 769px) {
    #Section4 :nth-child(1 of .card) {
        animation-range: cover -10% cover 20%;
    }

    #Section4 :nth-child(2 of .card) {
        animation-range: cover -10% cover 40%;
    }
}