.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    cursor: pointer;
}

.Section2 .dropdown .answer {
    text-align: justify;
    width: 70%;
    margin-left: auto;
    margin-top: 20px;
}

.Section2 .dropdown .answer {
    font-size: 1.1rem;
}

.Section2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mainContent {
    gap: 0;
    padding-block: 128px;
}

.mainContent .h2 {
    font-size: calc(5rem + 20vw);
    font-weight: 100;
}

.mainContent .h3 {
    font-size: calc(1rem + 1vw);
    margin-bottom: 32px;
    margin-top: calc(80px + 1vw);
}