.card {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    cursor: pointer;
    font-size: clamp(16px, 13.382px + 0.727vw, 32px);
}

.Section2 .dropdown .answer {
    text-align: justify;
    width: 70%;
    margin-left: auto;
    margin-top: 20px;
}

.Section2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mainContent {
    gap: 0;
    padding: clamp(64px, 32.582px + 8.727vw, 256px);
}

.mainContent .h2 {
    font-size: clamp(128px, 65.164px + 17.455vw, 512px);
    font-weight: 100;
}

.mainContent .h3 {
    margin-bottom: clamp(24px, 17.455px + 1.818vw, 64px);
    margin-top: clamp(16px, -2.327px + 5.091vw, 128px);
}