* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: rgb(4, 175, 95);
    --secondary-color: rgb(255, 204, 0);
    --bg-white: #f4f4f4;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    text-wrap: balance;
}

html {
    font-family: var(--dm-sans), Arial;
    color: var(--bg-white);
    font-size: clamp(14px, 13.018px + 0.273vw, 20px);
}

strong {
    font-weight: 600;
}

.gridWrapper {
    display: grid;
}

/* B A C K G R O U N D */
.pageBg {
    filter: brightness(0.4);
    z-index: -10;
    top: 0;
    left: 0;
    object-fit: cover;
}

.bgContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: -10;
}

/* M A I N   C O N T E N T */
.mainContent {
    background: var(--bg-white);
    padding: 64px clamp(16px, -2.327px + 5.091vw, 128px);
    color: black;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.mainContent *[id*='Section'] {
    width: 100%;
    display: flex;
}

.mainContent *[id*='Section'] h2 {
    margin-bottom: 20px;
}

.mainContent *[id*='Section'] .cta {
    margin-top: 40px;
}

.mainContent h2,
.mainContent h3,
.mainContent h4 {
    width: 100%;
    text-align: center;
}

/* H E A D I N G S */
h1, h2, h3, h4 {
    font-family: var(--poppins);
}

h1 {
    font-size: clamp(24px, 11.564px + 3.455vw, 100px);
    line-height: clamp(34px, 21.564px + 3.455vw, 110px);
    font-weight: 300;
}

@media (max-width: 500px) {
    h1 {
        font-weight: 500;
    }
}

h2 {
    font-weight: 200;
    font-size: calc(5vw + 1.5rem);
    line-height: calc(5vw + 2rem);
    margin-bottom: 2.5rem !important;
}

h3 {
    font-weight: 200;
    font-size: clamp(20px, 15.418px + 1.273vw, 48px);
    letter-spacing: clamp(16px, 15.345px + 0.182vw, 20px);
}

h4 {
    font-size: 2rem;
    font-weight: 300;
}

/* C O V E R */
.cover {
    height: 100vh;
    padding: clamp(24px, 6.982px + 4.727vw, 128px);
    display: flex;
    align-items: center;
}

.cover .content {
    max-width: 80%;
}

.cover .content h1 {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.cover .lead {
    margin-bottom: 30px;
    font-size: clamp(16px, 14.691px + 0.364vw, 24px);
}

.cover .cta-button {
    margin: 5px 10px 0 0;
    display: inline-flex;
}

@media (max-width: 480px) {
    .cover .content {
        max-width: none;
    }
}

.cover .cta {
    text-align: left;
}

/* F O O T E R */
footer {
    color: white;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 0.8rem;

    display: flex;
    justify-content: space-between;
    z-index: 20;
    align-items: center;  
    text-align: left;
    flex-wrap: wrap;   
    flex-grow: 1; 
    padding-inline: clamp(16px, 8.145px + 2.182vw, 64px);

    position: relative;
    bottom: 0;
    isolation: isolate;
}

footer li, footer p, footer h3 {
    margin: 5px 0;
}

footer h3 {
    font-size: 1.2rem;
    letter-spacing: normal !important;
}

#footer-about > *:not(#brief-description) {
    text-align: left;
}

#footer-about {
    max-width: 25%;
    min-width: 250px;
    flex-basis: 20%;
    margin: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1rem;
}

#brief-description {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

#footer-nav {
    max-width: 20%;
    min-width: 200px;
    flex-basis: 20%;
    margin: 15px;
}

#footer-offer {
    max-width: 20%;
    min-width: 200px;
    flex-basis: 20%;
    text-align: left;
    margin: 15px;
}

#footer-contact {
    max-width: 20%;
    min-width: 200px;
    flex-basis: 20%;
    margin: 15px;
}

footer .logo {
    height: 3rem;
    width: auto;
    margin-bottom: 5px;
    float: left;
    display: block;
}

footer a {
    color: #aaa;
    text-decoration: underline;
    font-weight: 500;
    text-underline-offset: 0.4rem;
    transition: text-underline-offset 400ms, color 250ms, text-decoration-color 400ms ease;
    text-decoration-color: #fff0;
}

footer li {
    list-style: none;
}

#footer-offer li {
    list-style-type: circle !important;
}

#footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

#footer-copyright a {
    display: block;
}

footer details {
    font-size: 0.7rem;
}

@media screen and (max-width: 480px) {
    footer {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    
    #footer-about, #footer-nav, #footer-offer, #footer-contact {
        max-width: 100%;
        margin: 10px 0;
    }

    #footer-about, #footer-offer {
        text-align: center;
    }

    #footer-offer li {
        list-style: none !important;
    }
}

/* H A M B U R G E R   M E N U */
.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-spacing);
    z-index: 10;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    color: var(--color);
    background-color: var(--background-color);
    border-radius: 2px;
    transition: 
        opacity var(--animation-timing),
        width var(--animation-timing),
        rotate var(--animation-timing),
        translate var(--animation-timing);
    transform-origin: right center;
    margin-right: 12px;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}


.hamburger-menu {
    display: none;
}

.nav-menu {
    display: none;
}

@media screen and (max-width: 900px) {
    .hamburger-menu, 
    .hamburger-menu::after, 
    .hamburger-menu::before {
        display: flex;
    }
}

@media screen and (min-width: 901px) {
    .nav-menu {
        display: flex;
    }
}

/* C T A */
.cta {
    width: 100%;
    margin-top: clamp(32px, 24.145px + 2.182vw, 80px) !important;
    text-align: center;
    padding-block: 16px;
}

.cta-button {
    background-color: transparent;
    padding: clamp(16px, 15.345px + 0.182vw, 20px);
    border-radius: clamp(8px, 6.691px + 0.364vw, 16px);
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: clamp(16px, 15.345px + 0.182vw, 20px);
    font-weight: 500;
    color: white;
    box-shadow: 
        0px 10px 30px rgba(0, 0, 0, 0.15),
        inset 0 0 0 50px var(--primary-color);
    backdrop-filter: blur(4px);
    transition: 
        box-shadow 200ms ease-out,
        color 300ms ease-in-out,
        font-weight 500ms ease-out;
}

/* F L O A T I N G   C A R D S */
.card {
    background-color: var(--bg-white);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    padding: clamp(16px, 8.145px + 2.182vw, 64px);
    border-radius: clamp(20px, 18.036px + 0.545vw, 32px);
    transition: 
        transform 500ms, 
        box-shadow 500ms;
    animation: fade-up ease-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}


/* H O V E R   E F F E C T S */
@media (hover: hover) and (pointer: fine) {
    footer a:hover {
        text-underline-offset: 0.2rem;
        color: white;
        text-decoration-color: #fff;
    }

    .cta-button:hover {
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25), inset 0 0 0 5px var(--secondary-color);
        color: var(--primary-color);
        font-weight: 700;
    } 

    .card:hover {
        transform: scale(1.05);
        box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
    }
}

/* S C R O L L B A R */
@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--primary-color) var(--bg-white);
        scrollbar-width: thin;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--bg-white);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        45deg,
        rgb(0, 210, 112),
        rgb(208, 166, 0)
    );
    border-radius: 3.5px;
    border: 1px solid var(--bg-white);
}

/* G E N E R A L   L I N K S */
a {
    color: black;
    text-underline-offset: 1rem;
    text-decoration-color: transparent;
    transition:
        text-underline-offset 0.5s ease-in-out,
        text-decoration-color 0.6s ease-in-out,
        color 0.3s ease-in-out;
}

a:hover {
    text-underline-offset: 0.3rem;
    text-decoration-color: var(--primary-color);
    color: var(--primary-color);
}