.Section2 {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.Section2 .column {
    flex-basis: 25%;
    min-width: 250px;
}

.Section2 .icon {
    width: clamp(48px, 34.909px + 3.636vw, 128px);
    height: auto;
    margin-inline: auto;
    margin-bottom: clamp(8px, 4.073px + 1.091vw, 32px);
    display: block;
}

.Section2 .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    margin-inline: 20px;
}

.Section2 .p {
    font-size: clamp(16px, 13.382px + 0.727vw, 32px);
}

@media (max-width: 953px) {
    .Section2 .card:nth-of-type(1), .Section2 .card:nth-of-type(2) {
        margin-bottom: 32px;
    }
}

.Section3 {
    display: flex;
    flex-direction: column;
}

.Section3 .icon {
    height: clamp(48px, 42.764px + 1.455vw, 80px);
    width: auto;
}

.Section3 .card .p {
    font-size: var(--std-font-size);
}

.Section3 .gridWrapper {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 32px;
    margin-inline: 32px;
}

@media (max-width: 989px) {
    .Section3 .gridWrapper {
        grid-template-columns: repeat(auto-fit, minmax(50%, 70%));
        justify-content: center;
    }
}

@media (max-width: 680px) {
    .Section3 .gridWrapper {
        grid-template-columns: repeat(auto-fit, 90%) !important;
    }
}

.Section3 .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
}

.Section4 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Section4 .timeline {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    position: relative;
    margin-top: clamp(128px, 107.055px + 5.818vw, 256px);
    margin-bottom: 32px;
}

.Section4 .icon {
    height: clamp(24px, 6.982px + 4.727vw, 128px);
    width: auto;
    position: absolute;
    bottom: 200%;
    left: -125%;
    transition: filter 0.4s ease-in-out;
}

@media (max-width: 479px) {
    .Section4 .icon {
        left: -75%;
    }
}

@media (max-width: 719px) {
    .Section4 .icon {
        left: -125%;
    }
}

@media (max-width: 1028px) {
    .Section4 .icon {
        left: -175%;
    }
}

@media (min-width: 1029px) {
    .Section4 .icon {
        left: -600%;
        bottom: 300%
    }
}

.Section4 .dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: -200%;
    left: 0
}

.Section4 .dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--secondary-color);
    position: relative;
    border: 0.2rem solid var(--bg-white);
    transition: 
        color 0.4s ease-in-out,
        transform 0.4s ease-in-out;
}

.Section4 .line {
    border-top: 3px solid black;
    width: 100%;
}

.Section4 .icon:hover {
    filter: 
        drop-shadow(0 0 30px var(--secondary-color))
        drop-shadow(0 0 20px var(--secondary-color));
}

.Section4 .dot.active {
    background: var(--primary-color);
    transform: scale(1.5);
}

.Section4 .icon.active {
    filter: 
        drop-shadow(0 0 30px var(--primary-color))
        drop-shadow(0 0 20px var(--primary-color));
}

.Section4 .Descriptions {
    width: 100%;
    display: flex;
    position: relative;
    height: 450px;
    perspective: 1000px;
}

.Section4 .nextBtn, .Section4 .prevBtn {
    background-color: var(--primary-color);
    height: 4rem;
    width: 4rem;
    border: none;
    mask-size: cover;
    mask-position: center !important;
    position: absolute;
    top: calc(50% - 2rem);
    mask-image: url('/img/icons/arrow-forward.svg');
    transition: 
        opacity 0.3s ease-in-out,
        background-color 0.2s ease-in-out;
    cursor: pointer;
    z-index: 5;
}

.Section4 .nextBtn.active:hover, .Section4 .prevBtn.active:hover {
    background-color: #8affa6;
}

.Section4 .nextBtn {
    right: 32px;
}

.Section4 .prevBtn {
    left: 32px;
    transform: rotate(180deg);
}

.Section4 .card {
    display: none;
    width: clamp(250px, 225.455px + 6.818vw, 400px);
    text-align: center;
    flex-direction: column;
    height: 400px;
    justify-content: space-around;
    transition:
        transform 0.3s ease-in-out,
        opacity 0.2s ease-in-out,
        filter 0.2s ease-in-out,
        box-shadow 0.25s ease-in-out;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: clamp(8px, 1.455px + 1.818vw, 48px);
}

.Section4 .card .h3 {
    font-size: clamp(20px, 18.036px + 0.545vw, 32px) !important;
}

.Section4 .card .h4 {
    font-family: var(--space-grotesk);
    font-weight: 900;
    opacity: 0.1;
    position: absolute;
    font-size: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Section4 .card .p {
    font-size: var(--std-font-size);
}

.Section4 .card .h3, .Section4 .card .p {
    width: 100% !important;
    text-align: center;
    text-wrap: balance;
    margin: 0;
}

.Section4 .card.active {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
}

.Section4 .card.left, .Section4 .card.right {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    opacity: 0.5;
    filter: blur(2px);
}

@-moz-document url-prefix() {
    .Section4 .card.left, .Section4 .card.right {
        filter: none;
        opacity: 0.4;
    }
}

.Section4 .card.left {
    transform: translate(-100%, -50%) translateZ(-300px) rotateY(30deg);
}

.Section4 .card.right {
    transform: translate(0, -50%)     translateZ(-300px) rotateY(-30deg);
}

.Section4 .card .h3 {
    letter-spacing: normal;
    font-size: 1.5rem;
    font-weight: 500;
    width: 30%;
}

.Section5 {
    flex-wrap: wrap;
    text-align: center;
}

.Section5 .p {
    width: 100%;
    text-align: center;
    font-size: var(--std-font-size);
}

.Section5 .grants {
    display: flex;
    gap: 32px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 32px;
}

.Section5 .grantLogo {
    height: clamp(64px, 53.527px + 2.909vw, 128px);
    width: auto;
}

.Section5 .cta {
    width: 100%;
}

@media screen and (max-width: 480px) {      
    .Section2 .column {
        flex-basis: 100%;
        min-width: auto;
    }
    
    .Section3 .card {
        max-width: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {    
    .Section2 .column {
        flex-basis: 45%;
    }
}