.card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.65rem;
}

.Section2 {
    scroll-margin: 130px;
    display: flex;
    flex-direction: column;
}

.Section2 .h3, .Section2 .h2 {
    width: 100%;
}

.Section2 .ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Section2 .li::marker {
    content: "✓ ";
    color: var(--primary-color);
    size: 1.2rem;
}

.Section2 .card, .Section3 .card {
    margin-inline: auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.Section2 .iconContainer {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    margin-right: 1rem;
}

.Section2 .icon {
    width: 4rem;
    height: 4rem;
}

.Section3 {
    display: flex;
    flex-direction: column;
}

.Section3 .ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Section4 {
    display: flex;
    flex-direction: column;
}

.Section4 .num {
    font-size: 5rem;
    line-height: 6rem;
    color: var(--primary-color);
    font-family: var(--raleway);
    font-weight: 100;
}

.Section4 .counter {
    font-weight: 400;
    font-family: var(--poppins);
    display: flex;    
    font-size: 5rem;
    color: var(--primary-color);
    line-height: 6rem;
}

.Section4 .counterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Section4 .stats {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px;
}

.Section4 .card {
    margin-inline: 20px;
    height: 17rem;
    text-align: center;
    width: clamp(300px, 201.818px + 27.273vw, 900px);
}

.Section4 .h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: normal;
}

.Section4 .p, .Section4 .h3 {
    font-size: 1.5rem;
}

.Section5 {
    width: 100%;
    height: 550svh;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    position: relative;

    & .container {
        & .img {
            width: 50vw;
            height: auto;
            transition: transform 1s ease-out;
        }

        & .imgContainer {
            overflow: hidden;
            width: 30vw;
            margin-block: 32px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & div:nth-of-type(1) {
            left: -20vw;
        }

        & div:nth-of-type(2) {
            left: 8vw;
            top: -10vw
        }

        & div:nth-of-type(3) {
            left: -30vw;
            top: -60vw;
        }

        & div:nth-of-type(4) {
            left: 30vw;
            top: -65vw;
        }

        & div:nth-of-type(5) {
            left: -20vw;
            top: -85vw;
        }

        & div:nth-of-type(6) {
            left: 7vw;
            top: -95vw;
        }

        & div:nth-of-type(7) {
            left: 15vw;
            top: -100vw;
        }

        & div:nth-of-type(8) {
            left: -25vw;
            top: -165vw;
        }

        & div:nth-of-type(9) {
            left: -20vw;
            top: -175vw;
        }

        & div:nth-of-type(10) {
            left: 5vw;
            top: -185vw;
        }

        & div:nth-of-type(11) {
            left: -17vw;
            top: -195vw;
        }

        & div:nth-of-type(12) {
            left: 20vw;
            top: -250vw;
        }
    }

    & .Partner {
        font-size: 1.2rem;
        position: absolute;
        bottom: 10vw;
        left: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (hover: hover) and (pointer: fine) {
    .Section5 .img:hover {
        transform: scale(1.07);
    }
}