/* B A C K G R O U N D */
body::before {
    content: "";
    background-image: url('/img/bg/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.4);
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/* C O N T E N T */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    margin: 30px auto 0 auto;
}

h2 {
    font-size: 2rem;
}

/* Section 1 */
#Section1 {
    width: 100%;
    text-align: left;
    height: 100vh;
}

.content .hero-header {
    margin-top: 25vh;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    margin-inline: 50px;
}

.lead {
    text-align: left;
    margin-bottom: 40px;
    margin-inline: 50px;
    font-size: 1.2rem;
}

.cta-button {
    margin: 30px auto;
    margin-inline: 50px;
}

#main-body {
    width: 100%;
    background-color: var(--bg-white);
}

/* Section 2 */
#Section2 {
    width: 85%;
    text-align: left;
    margin: 50px auto 50px auto;
    color: black;
}

#Section2 h2 {
    text-align: center;
    margin-bottom: 20px;
}

#Section2 ul {
    list-style-type: disc;
    padding-left: 10px;
    line-height: 1.5rem;
}

#Section2 li::marker {
    content: "✓ ";
    color: var(--primary-color);
    size: 1.2rem;
}

/* Section 3 */
#Section3 {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1.5rem;
    color: black;
    scroll-margin-top: 130px;
    gap: 30px;
}

#Section3 #contact-info, #company-info, #office {
    min-width: 25%;
}

#Section3 h2 {
    margin: 10px auto;
}

@media (max-width: 1023px) {
    #contact-info, #company-info {
        width: 45%;
        text-align: center;
        align-items: center;
    }
    
    #office {
        width: 70%;
        margin-inline: auto;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 650px) {
    #contact-info, #company-info, #office {
        width: 70%;
        margin-inline: auto;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 420px) {
    #contact-info, #company-info, #office {
        width: 95%;
        margin-inline: auto;
        text-align: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {
    #Section3 :nth-child(1 of .card) {
        animation-range: cover 0% cover 20%;
    }

    #Section3 :nth-child(2 of .card) {
        animation-range: cover 0% cover 30%;
    }

    #Section3 :nth-child(3 of .card) {
        animation-range: cover 0% cover 40%;
    }
}

@media (min-width: 1024px) {
    #Section3 :nth-child(1 of .card) {
        animation-range: cover 0% cover 20%;
    }

    #Section3 :nth-child(2 of .card) {
        animation-range: cover 0% cover 30%;
    }

    #Section3 :nth-child(3 of .card) {
        animation-range: cover 0% cover 40%;
    }
}

@media (min-width: 653px) {
    #Section3 :nth-child(1 of .card) {
        animation-range: cover 0% cover 30%;
    }

    #Section3 :nth-child(2 of .card) {
        animation-range: cover 0% cover 40%;
    }
}