.Section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 32px; 
}

.Section2 .card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: subgrid;
    grid-row: span 1;
    align-items: center;
    width: clamp(300px, 218.182px + 22.727vw, 800px);
}

.Section2 .card .p {
    font-size: var(--std-font-size);
}

.Section2 .icon {
    height: clamp(48px, 42.764px + 1.455vw, 80px);
    width: auto;
    margin-right: 30px;
}

.Section3 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Section3 .icon {
    height: clamp(48px, 34.909px + 3.636vw, 128px);
    width: auto;
    margin: 30px;
}

.Section3 .p {
    font-size: var(--std-font-size);
}

.Section3 .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-around;
    width: 100%;
}

.Section3 .card {
    width: clamp(250px, 209.091px + 11.364vw, 700px);
}

.Section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.Section4 .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    justify-content: space-around;
}

.Section4 .card {
    width: clamp(300px, 40%, 800px);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: subgrid;
    grid-row: span 1;
    place-items: center;
}

.Section4 .p {
    font-size: var(--std-font-size);
}

.Section4 .icon {
    height: clamp(48px, 42.764px + 1.455vw, 80px);
    width: auto;
    margin-right: 30px;
}

.Section4 :nth-child(2 of .icon) {
    height: 4.5rem;
    width: auto;
}