.card {
    width: 70%;
    margin-inline: auto;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    align-items: center;
    gap: 2rem;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.Section3, .Section4, .Section5 {
    display: flex;
    flex-direction: column;
}

.ul, .ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Section2 {
    text-align: center;
    scroll-margin: 100px;
}

.Section2 .Scheme {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.Section3 .ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Section4 .card, .Section5 .card {
    position: relative;
}

.Section4 .num, .Section5 .num {
    position: absolute;
    font-family: var(--space-grotesk);
    font-weight: 300;
    font-size: 7rem;
    top: 50%;
    transform: translateY(-50%);
    left: -4.1rem;
    width: 7rem;
    text-align: center;
}

.Section6 .li {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
    background-size: 1.5rem 1.5rem;
}

.Section6 :nth-child(1 of .li) {
    background-image: url('/img/icons/thunder.png');
}

.Section6 :nth-child(2 of .li) {
    background-image: url('/img/icons/smoke.png');
}