.card {
    width: 70%;
    margin-inline: auto;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    align-items: center;
    gap: 2rem;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.Section3, .Section4, .Section5, .Section6, .Section7 {
    display: flex;
    flex-direction: column;
}

.ul, .ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Section2 {
    text-align: center;
    scroll-margin: 100px;
}

.Section2 .Scheme {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.Section3 .ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Section4 .card, .Section5 .card {
    position: relative;
}

.Section4 .num, .Section5 .num {
    position: absolute;
    font-family: var(--space-grotesk);
    font-weight: 300;
    font-size: 7rem;
    top: 50%;
    transform: translateY(-50%);
    left: -4.1rem;
    width: 7rem;
    text-align: center;
}

.Section6 .ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline: 64px;
    gap: 32px;
}

.Section6 .card {
    width: clamp(300px, 500px, 40%);
    position: relative;
    font-size: 1.5rem;
    text-align: center;
}

.Section6 .icon {
    position: absolute;
    height: 90%;
    width: auto;
    opacity: 0.2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}