/* B A C K G R O U N D */
.section1::before {
    content: "";
    background-image: url('/img/bg/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.4);
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.section2 {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.section2 .column {
    flex-basis: 25%;
    min-width: 300px;
}

.section2 .icon {
    width: 3rem;
    height: auto;
    margin: 10px auto;
    display: block;
}

.section2 .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    margin-inline: 20px;
}

.section2 .p {
    font-size: 1.5rem;
}

.section3 {
    display: flex;
    flex-direction: column;
}

.section3 .icon {
    height: 3rem;
    width: auto;
}

.section3 .gridWrapper {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 30px;
    margin-inline: 30px;
}

@media (max-width: 989px) {
    .section3 .gridWrapper {
        grid-template-columns: repeat(auto-fit, minmax(50%, 70%));
        justify-content: center;
    }
}

@media (max-width: 680px) {
    .section3 .gridWrapper {
        grid-template-columns: repeat(auto-fit, 90%) !important;
    }
}

.section3 .card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
}

.section4 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section4 .timeline {
    width: 94%;
    height: auto;
    justify-content: center;
    margin-inline: 3%;
}

.section5 {
    flex-wrap: wrap;
    text-align: center;
}

.section5 .grants {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
}

.section5 .grantLogo {
    height: 5rem;
    width: auto;    
}

.section5 .cta {
    width: 100%;
}

@media screen and (max-width: 480px) {      
    .section2 .column {
        flex-basis: 100%;
        min-width: auto;
    }
    
    .section3 .card {
        max-width: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {    
    .section2 .column {
        flex-basis: 45%;
    }
}