* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(4, 175, 95);
    --secondary-color: rgb(255, 204, 0);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

html {
    font-family: "DM Sans", "Roboto", sans-serif;
    scroll-behavior: smooth;   
}

/* Scroll behaviour */
#Section4 {
    scroll-margin-top: 150px;
}

/* B A C K G R O U N D */
body::before {
    content: "";
    background-image: url('./../images/background3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.4);
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/* C O N T E N T */
.content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    margin: 30px auto 0 auto;
}

.main-body {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.card {
    width: 80%;
    margin-inline: auto;
    color: black;
}

.card-icon {
    height: 3rem;
    width: auto;   
}

.cta {
    text-align: center;
    padding-bottom: 200px;
    margin-top: -40px;
}

h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}

/* Section 1 */
#Section1 {
    margin-inline: 50px;
    height: 100vh;
}

#Section1 .hero-header {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 20vh;
}

#Section1 .lead {
    max-width: 700px;
    font-size: 1.2rem;
}

#Section1 .cta {
    margin-top: 40px;
    text-align: left;
}

/* Section 2 */
#Section2 {
    text-align: center;
    scroll-margin: 100px;
}

#Section2 img {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

/* Section 3 */
#Section3 a {
    color: black;
}

/* Section 3 and 4 lists */
#Section3 ol,
#Section4 ol {
    list-style: none;
    counter-reset: num;
}

#Section3 ol li,
#Section4 ol li {
    counter-increment: num;
    position: relative;
}

#Section3 ol li::before,
#Section4 ol li::before {
    content: counter(num);
    color: var(--primary-color);
    margin-right: 1rem;
    font-size: 2rem;
    font-family: var(--monda), var(--dm-sans), Arial;
}

/* Section 5 */
#Section5 li {
    line-height: 1.75rem;
}

#Section5 ul {
    list-style: none;
    padding-left: 0;
}

#Section5 li {
    padding-left: 30px; /* Space for the image */
    margin-bottom: 10px;
    line-height: 1.75rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Control size here */
}

#Section5 .item1 {
    background-image: url('./../images/thunder.png');
    background-size: 1.5rem 1.5rem;
}

#Section5 .item2 {
    background-image: url('./../images/smoke.png');
    background-size: 1.5rem 1.5rem;
}

/* Section6 */
#Section6 li::marker {
    color: var(--primary-color);
}

#Section6 li,
#Section7 li,
#Section8 li {
    line-height: 1.75rem;
}

/* Section 7 and 8 */
#Section7 li::marker,
#Section8 li::marker {
    content: '✓ ';
    color: var(--primary-color);
}